/********************************************
**************** ~FIRST ONE~ ****************
********************************************/
.cross-fade {
  &-leave {
    opacity: 1;
    &.cross-fade-leave-active {
      opacity: 0;
      transition: opacity 1s ease-in;
    }
  }
  &-enter {
    opacity: 0;
    &.cross-fade-enter-active {
      animation-delay: 0.1s;
      opacity: 1;
      transition: opacity 1s ease-in;
    }
  }
  &-height {
    transition: height 2s ease-in-out;
  }
}
